<div class="home-container">
  <!-- Header -->
  <div class="header-wrapper">
    <!-- Logo Desktop -->
    <div class="w-56 hidden sm:block" (click)="redirectToHome()">
      <img src="/assets/images/logo_seal2.png" alt="Logo SEAL completo" />
    </div>
    
    
    <!-- Separador vertical -->
    <div class="vertical-divider"></div>
    
    <!-- Descripción del sistema -->
    <div class="system-description">
      <p>Panel de Administración</p>
      <p>Agente IA para Facebook</p>
    </div>
    
    <!-- Sección derecha con usuario y logout -->
    <div class="header-actions">
      <button mat-button  class="logout-btn" (click)="openChangePasswordPage()">
        <mat-icon>lock</mat-icon>
      Cambiar contraseña
      </button>
      <button class="logout-btn " (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

  <!-- Content -->
  <div class="main-content">
    <app-qa-list></app-qa-list>
  </div>

  <!-- Footer -->
  <div class="footer-wrapper">
    <span class="footer-text">Seal © 2025 </span>
  </div>
</div>